<section class="row story">
    <div class="container">
        <div class="row">
            <div class=""><img src="./assets/images/highlights-web.png" class="full-width border border-radius border-lighter" /></div>
        </div>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
        <div class="row margin-top-lg">
            <div class="col-sm-1 hidden-xs">
                <h2 class="text-right text-grey"><i class="fa fa-arrow-up"></i></h2>
            </div>
            <div class="col-sm-6">
                <h3>highlights <span class="small">(work in progress)</span></h3>
                <p>News in Africa is distributed. It's not organized, feeds do not follow standards, and a majority of news sites rely on ad money. Stories are mostly politics or sports, with a few lifestyle and tech ones sharing a thing or two. That is my finding that took more than my professional life.</p>
                <p>I am addicted to information, especially tech and science news. I built a few apps that would grab news from different sites and display them according to date. But the apps were only worked on localhost.</p>
                <p>In 2017, i have decided to push it mainstream and see what challenges i face along the way. Currently this is the first of the many designs i have come up with. It's simple to navigate, simple to read and simple to comment and share.</p>
            </div>
            <div class="col-sm-5">
                <div class="margin-bottom-sm"><img src="./assets/images/highlights-mobile.png" class="full-width border border-radius border-lighter" /></div>
                <small><em>Mobile Wireframe</em></small>
                <p class="padding-top-lg">
                    <a href="https://marvelapp.com/356ba1e/" target="_blank" class="btn btn-success"><strong>View the prototype</strong></a>
                </p>
            </div>
        </div>
    </div>
</section>
