<section class="row story">
    <div class="col-sm-6 col-sm-offset-3">
        <div class="row">
            <div class="col-sm-6">
                <div><iframe src="https://marvelapp.com/326c65e?emb=1" width="390" height="755" class="full-width" allowTransparency="true" frameborder="0"></iframe></div>
            </div>
            <div class="col-sm-6">
                <div class="height-sm hidden-xs"></div>
                <h2 class="text-grey hidden-xs"><i class="fa fa-arrow-left"></i></h2>
                <h3>distribution app</h3>
                <p><em>Clickable Prototype</em></p>
                <p>The main things to do in the app is log distribution in a specific region to track consumption of products over a period of time.</p>
                <p>The app has different users who have different roles. The solution is to have modular sections that would be shown if you had access to view/access it.</p>
                <p>The use of cards is all about showing relevant and digestible information at a glance, but when clicked would give more information in a modal or a new page. Other cards expand to show more information.</p>
                <p class="padding-top-lg">
                    <a href="https://marvelapp.com/326c65e" target="_blank" class="btn btn-success"><strong>View prototype</strong></a>
                </p>
            </div>
        </div>
    </div>
</section>
