<section class="row story">
    <div class="container">
        <div class="row">
            <div class="border border-radius border-lighter"><img src="./assets/images/highlights-web.png" class="full-width" /></div>
        </div>
    </div>
    <div class="col-sm-6 col-sm-offset-3">
        <div class="row margin-top-lg">
            <div class="col-sm-1 hidden-xs">
                <h2 class="text-right"><i class="fa fa-arrow-up"></i></h2>
            </div>
            <div class="col-sm-6">
                <h3>highlights <span class="small">(news app)</span></h3>
                <p>News in Africa is distributed. It's not organized, feeds do not follow standards, and a majority of news sites rely on ad money. News in Africa are either politics or sports, with few lifestyle and tech one sharing a thing or two. That is my finding that took more than my professional life.</p>
                <p>I am addicted to information, especially tech and science news. I had built a few apps that would grab news from different sites and display them according to date. But the apps were only worked on localhost. But it did not have cron jobs to get the news, so every time i wanted to read news i would click on a refresh button and it would update with the latest. Not a clean solution.</p>
                <p>In 2017, i have decided to push it mainstream and see what challenges i face along the way. Currently this is the first of the many designs i have come up with. It's simple to navigate, simple to read and simple to comment and share.</p>
                <p class="padding-top-lg">
                    <button class="btn btn-success"><strong>View the prototype</strong></button>
                </p>
            </div>
            <div class="col-sm-5">
                <div class="border border-radius border-lighter margin-bottom-sm"><img src="./assets/images/highlights-mobile.png" class="full-width" /></div>
                <small><em>Mobile Wireframe</em></small>
            </div>
        </div>
    </div>
</section>
