<section class="row story">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center margin-bottom-lg">
                <h3>product designs</h3>
                <h5>some of the designs i have done</h5>
                <h2 class="text-grey text-center"><i class="fa fa-arrow-down"></i></h2>
            </div>
            <div class="col-sm-3">
                <div class="bg-success margin-bottom-lg">
                    <a href="https://marvelapp.com/8cigd1g" title="" target="_blank"><img src="assets/images/eq-home.png" class="full-width border border-radius border-lighter" /></a>
                </div>
                <div class="bg-success margin-bottom-lg">
                    <a href="#" title="" target="_blank"><img src="assets/images/dist-mobile.png" class="full-width border border-radius border-lighter" /></a>
                </div>
                <div class="padding-xl text-center bg-success margin-bottom-lg">
                    uploading...
                </div>
            </div>
            <div class="col-sm-3">
                <div class="bg-warning margin-bottom-lg">
                    <a href="#" target="_blank"><img src="assets/images/ligz.png" class="full-width border border-radius border-lighter" /></a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="bg-warning margin-bottom-lg">
                    <a href="http://wilsongichuki.github.io/dumadash" title="Dashboard concept" target="_blank"><img src="assets/images/emp-web-2.png" class="full-width border border-radius border-lighter" /></a>
                </div>
                <div class="bg-info margin-bottom-lg">
                    <a href="#" title="Logo Design" target="_blank"><img src="assets/images/home-mobile.png" class="full-width border border-radius border-lighter" /></a>
                </div>
            </div>
            <div class="col-sm-3">
                <div class="bg-info margin-bottom-lg">
                    <a href="https://marvelapp.com/6hja6ag" target="_blank"><img src="assets/images/mobile-accounting.png" class="full-width border border-radius border-lighter" /></a>
                </div>
                <div class="bg-info margin-bottom-lg">
                    <a href="https://www.behance.net/gallery/39486423/News-Reader" title="" target="_blank"><img src="assets/images/updatr-web.png" class="full-width border border-radius border-lighter" /></a>
                </div>
                <div class="padding-xl text-center bg-warning margin-bottom-lg">
                    uploading...
                </div>
            </div>
        </div>
    </div>
</section>
