<section class="row story hidden">
    <div class="container">
        <div class="row">
            <div class="col-sm-12 text-center">
                <h3>print designs</h3>
                <h5>some of the designs i have done</h5>
            </div>
            <div class="col-sm-4">
                <div class="height-md bg-success margin-bottom-lg"></div>
                <div class="bg-warning margin-bottom-lg"><a href="https://www.behance.net/gallery/23540517/Logo-Design-Concepts" title="Child Outreach Network Logo Design" target="_blank"><img src="assets/images/logo-design-1.png" class="full-width border border-radius border-lighter" /></a></div>
                <div class="height-lg bg-info margin-bottom-lg"></div>
            </div>
            <div class="col-sm-4">
                <div class="bg-warning margin-bottom-lg">
                    <a href="https://www.behance.net/gallery/23542191/Company-Branding" title="Company Rebranding" target="_blank"><img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/3ee39f23542191.56324b28904f0.jpg" class="full-width border border-radius border-lighter" /></a></div>
                <div class="height-lg bg-warning margin-bottom-lg"></div>
            </div>
            <div class="col-sm-4">
                <div class="height-xs bg-info margin-bottom-lg"></div>
                <div class="height-lg bg-danger margin-bottom-lg"></div>
                <div class="bg-primary margin-bottom-lg">
                    <a href="https://www.behance.net/gallery/12460549/Saqqara-Logo-and-Type-Font" title="Logo Design" target="_blank"><img src="https://mir-s3-cdn-cf.behance.net/project_modules/disp/f7b53212460549.56269eba90772.jpg" class="full-width border border-radius border-lighter" /></a></div>
            </div>
        </div>
    </div>
</section>
