<div class="height-xx"></div>
<section class="container about">
    <div class="row">
        <div class="col-sm-12">
            <div class="row">
                <div class="col-sm-6">
                    <h2><strong>About me</strong></h2>
                    <p>I am a self-taught user experience designer based in Nairobi. I started my career as a graphic designer
                        back in 2008, but afterwards i realized that there was more to design than just pixels and prints.
                        I later moved to user-centered design which helped me start solving design issues and creating meaningful
                        solutions for the users who interact with the product.</p>
                    <p>I believe we can deliver something that will impact your users immensely while achieving the business
                        goals.
                        <p>So you have an awesome project you want to us to work on? <a href="">Let's get started.</a></p>
                    </p>
                </div>
            </div>

            <h2 class="padding-top-md"><strong>Skills</strong></h2>
            <div class="row">
                <div class="col-sm-4">
                    <ul class="list-unstyled h4">
                        <li>Product ideation and research</li>
                        <li>Wireframing and prototyping</li>
                        <li>User interface design</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="list-unstyled h4">
                        <li>Mobile and responsive web design</li>
                        <li>Javascript, PHP, Python</li>
                        <li>Product management</li>
                    </ul>
                </div>
                <div class="col-sm-4">
                    <ul class="list-unstyled h4">
                        <li>Brand strategy</li>
                        <li>Logo design</li>
                        <li>Online marketing</li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</section>
