<div class="height-xx"></div>
<section class="container story">
    <div class="row">
        <div class="col-sm-5">
            <h2>Keeping it simple</h4>
                <h4>My name is Wilson Gichuki, a proud user experience designer who can code, and loves gaming.</h4>
        </div>
        <div class="col-sm-12 padding-top-md">
            <a href="#work" class="btn btn-lg margin-sm">View my work</a>
            <a href="#about" class="btn btn-lg margin-sm">About me</a>
            <a href="mailto:wil@wgch.me" class="btn btn-lg btn-accent margin-sm">Hire me</a>
        </div>
    </div>
</section>
<div class="height-xs"></div>
