<section class="container story">
    <div class="row">
        <div class="col-sm-12 margin-bottom-lg">
            <h3>Work</h3>
            <h4>some of my latest designs</h4>
        </div>
        <div class="col-sm-3">
            <div class="margin-bottom-lg">
                <a target="_blank" href="https://www.behance.net/gallery/49087885/Distro-Web-UI-Project"><img src="https://mir-s3-cdn-cf.behance.net/projects/202/ff4c3049087885.Y3JvcCwxNjYzLDEzMDIsNDksMA.png" class="full-width border border-radius border-lighter"
                    /></a>
            </div>
            <div class="bg-success margin-bottom-lg">
                <a href="https://www.behance.net/gallery/33835236/Selling-Services" title="" target="_blank"><img src="https://mir-s3-cdn-cf.behance.net/projects/202/8f42f333835236.Y3JvcCw3OTgsNjI1LDAsMTg0NQ.png" class="full-width border border-radius border-lighter"
                    /></a>
            </div>
            <div class="bg-success margin-bottom-lg">
                <a href="https://marvelapp.com/11i3cgi" title="" target="_blank"><img src="assets/images/dist-mobile.png" class="full-width border border-radius border-lighter" /></a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="bg-warning margin-bottom-lg">
                <a href="https://marvelapp.com/ai7959" target="_blank"><img src="assets/images/ligz.png" class="full-width border border-radius border-lighter" /></a>
            </div>
        </div>
        <div class="col-sm-3">
            <div class="margin-bottom-lg">
                <a target="_blank" href="https://www.behance.net/gallery/48589343/Signup-and-Checkout-from-mobile"><img src="https://mir-s3-cdn-cf.behance.net/projects/202/b63f2948589343.Y3JvcCw1MDkzLDM5ODYsMTQ1OCww.png"
                        class="full-width border border-radius border-lighter" /></a>
            </div>
            <div class="bg-warning margin-bottom-lg">
                <a href="http://wgch.github.io/dumadash" title="Dashboard concept" target="_blank"><img src="assets/images/emp-web-2.png" class="full-width border border-radius border-lighter" /></a>
            </div>
            <div class="bg-info margin-bottom-lg">
                <a href="https://www.behance.net/gallery/39486423/News-Reader" title="" target="_blank"><img src="assets/images/updatr-web.png" class="full-width border border-radius border-lighter" /></a>
            </div>
        </div>
        <div class="col-sm-3">

            <div class="bg-info margin-bottom-lg">
                <a href="https://marvelapp.com/h2b1ed" title="Logo Design" target="_blank"><img src="assets/images/home-mobile.png" class="full-width border border-radius border-lighter" /></a>
            </div>
        </div>
    </div>
</section>
