<div class="height-xs"></div>
<section class="container">
    <div class="row">
        <div class="col-sm-5">
            <a href="mailto:wil@wgch.me" class="btn-accent btn btn-lg margin-bottom-lg">Get in touch</a>
            <ol class="list-inline h4">
                <li><a href="#" class="social-link behance"><i class="fa fa-behance"></i> </a></li>
                <li><a href="#" class="social-link twitter"><i class="fa fa-twitter"></i> </a></li>
                <li><a href="#" class="social-link linkedin"><i class="fa fa-linkedin"></i> </a></li>
            </ol>
            <div class="height-xx"></div>
            <small>Copyright 2017 &bull; All rights reserved</small>
        </div>
    </div>
</section>
